In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("/kaggle/input/playground-series-s3e6/train.csv")
train.head()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,0,34291,24,1,0,47,35693,2,1,2000,0,1,8,5196,369,0,3,3436795.2
1,1,95145,60,0,1,60,34773,1,4,2000,0,1,729,4496,277,0,6,9519958.0
2,2,92661,45,1,1,62,45457,4,8,2020,1,1,7473,8953,245,1,9,9276448.1
3,3,97184,99,0,0,59,15113,1,1,2000,0,1,6424,8522,256,1,9,9725732.2
4,4,61752,100,0,0,57,64245,8,4,2018,1,0,7151,2786,863,0,7,6181908.8

In [3]:
test = pd.read_csv("/kaggle/input/playground-series-s3e6/test.csv")
test.head()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
0,22730,47580,89,0,1,8,54830,5,3,1995,0,0,6885,8181,241,0,8
1,22731,62083,38,0,0,87,8576,10,3,1994,1,1,4601,9237,393,1,4
2,22732,90499,75,1,1,37,62454,9,6,1997,0,1,7454,2680,305,0,2
3,22733,16354,47,1,1,9,9262,6,5,2019,1,1,705,5097,122,1,5
4,22734,67510,8,0,0,55,24112,3,7,2014,1,1,3715,7979,401,1,9

In [4]:
original_data = pd.read_csv("/kaggle/input/paris-housing-price-prediction/ParisHousing.csv")
original_data.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [5]:
testid = test['id']
train = train.drop(['id'], axis=1)
test = test.drop(['id'], axis = 1)

In [6]:
# adding the source column
original_data['source'] = 0
train['source'] = 1
test['source'] = 1

# combining the datasets
train = pd.concat([train, original_data])
train.reset_index(inplace=True, drop=True)
train.shape

(32730, 18)

In [7]:
train["ActualArea"] = train['squareMeters'] - train['basement'] - train['attic']-train['garage']
train['AreaPerHouse'] = train['squareMeters'] / train['numberOfRooms']
train['AreaPerRoom'] = train['ActualArea'] / train['numberOfRooms']
train['Extra'] = train['AreaPerHouse'] - train['AreaPerRoom']
train.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,...,attic,garage,hasStorageRoom,hasGuestRoom,price,source,ActualArea,AreaPerHouse,AreaPerRoom,Extra
0,34291,24,1,0,47,35693,2,1,2000,0,...,5196,369,0,3,3436795.2,1,28718,1428.791667,1196.583333,232.208333
1,95145,60,0,1,60,34773,1,4,2000,0,...,4496,277,0,6,9519958.0,1,89643,1585.750000,1494.050000,91.700000
2,92661,45,1,1,62,45457,4,8,2020,1,...,8953,245,1,9,9276448.1,1,75990,2059.133333,1688.666667,370.466667
3,97184,99,0,0,59,15113,1,1,2000,0,...,8522,256,1,9,9725732.2,1,81982,981.656566,828.101010,153.555556
4,61752,100,0,0,57,64245,8,4,2018,1,...,2786,863,0,7,6181908.8,1,50952,617.520000,509.520000,108.000000

In [8]:
test["ActualArea"] = test['squareMeters'] - test['basement'] - test['attic']-test['garage']
test['AreaPerHouse'] = test['squareMeters'] / test['numberOfRooms']
test['AreaPerRoom'] = test['ActualArea'] / test['numberOfRooms']
test['Extra'] = test['AreaPerHouse'] - test['AreaPerRoom']
test.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,...,basement,attic,garage,hasStorageRoom,hasGuestRoom,source,ActualArea,AreaPerHouse,AreaPerRoom,Extra
0,47580,89,0,1,8,54830,5,3,1995,0,...,6885,8181,241,0,8,1,32273,534.606742,362.617978,171.988764
1,62083,38,0,0,87,8576,10,3,1994,1,...,4601,9237,393,1,4,1,47852,1633.763158,1259.263158,374.500000
2,90499,75,1,1,37,62454,9,6,1997,0,...,7454,2680,305,0,2,1,80060,1206.653333,1067.466667,139.186667
3,16354,47,1,1,9,9262,6,5,2019,1,...,705,5097,122,1,5,1,10430,347.957447,221.914894,126.042553
4,67510,8,0,0,55,24112,3,7,2014,1,...,3715,7979,401,1,9,1,55415,8438.750000,6926.875000,1511.875000

In [9]:
train['squareMeters'].describe()

count    3.273000e+04
mean     4.758955e+04
std      4.425270e+04
min      8.900000e+01
25%      2.158100e+04
50%      4.613200e+04
75%      7.254500e+04
max      6.071330e+06
Name: squareMeters, dtype: float64

In [10]:
def outliers(df, var):
    Q1 = df[var].quantile(0.25)
    Q3 = df[var].quantile(0.75)
    IQR = Q3 - Q1
    O1 = Q1 - (1.5*IQR)
    O3 = Q3 + (1.5*IQR)
    df.loc[(df[var] <= O1), var] = O1
    df.loc[(df[var] >= O3), var] = O3
    return df[var]

In [11]:
train['squareMeters'] = outliers(train, 'squareMeters')
train['squareMeters'].describe()

count     32730.000000
mean      47408.607241
std       29153.381016
min          89.000000
25%       21581.000000
50%       46132.000000
75%       72545.000000
max      148991.000000
Name: squareMeters, dtype: float64

In [12]:
test['squareMeters'] = outliers(test, 'squareMeters')
test['squareMeters'].describe()

count    15154.000000
mean     45729.407681
std      29200.142520
min         69.000000
25%      19189.000000
50%      43802.000000
75%      70898.000000
max      99999.000000
Name: squareMeters, dtype: float64

In [13]:
train.columns

Index(['squareMeters', 'numberOfRooms', 'hasYard', 'hasPool', 'floors',
       'cityCode', 'cityPartRange', 'numPrevOwners', 'made', 'isNewBuilt',
       'hasStormProtector', 'basement', 'attic', 'garage', 'hasStorageRoom',
       'hasGuestRoom', 'price', 'source', 'ActualArea', 'AreaPerHouse',
       'AreaPerRoom', 'Extra'],
      dtype='object')

In [14]:
train['numberOfRooms'] = outliers(train, 'numberOfRooms')
train['numberOfRooms'].describe()

count    32730.000000
mean        48.887993
std         28.424371
min          1.000000
25%         25.000000
50%         48.000000
75%         75.000000
max        100.000000
Name: numberOfRooms, dtype: float64

In [15]:
test['numberOfRooms'] = outliers(test, 'numberOfRooms')
test['numberOfRooms'].describe()

count    15154.000000
mean        47.874951
std         28.164077
min          1.000000
25%         25.000000
50%         46.000000
75%         75.000000
max        100.000000
Name: numberOfRooms, dtype: float64

In [16]:
train['hasYard'].value_counts()

0    16826
1    15904
Name: hasYard, dtype: int64

In [17]:
train[train['hasYard'] == 150] = 0
train['hasYard'].value_counts()

0    16826
1    15904
Name: hasYard, dtype: int64

In [18]:
test['hasYard'].value_counts()

0    7829
1    7325
Name: hasYard, dtype: int64

In [19]:
train['hasPool'].value_counts()

0    17471
1    15259
Name: hasPool, dtype: int64

In [20]:
test['hasPool'].value_counts()

0    8405
1    6749
Name: hasPool, dtype: int64

In [21]:
train['floors'] = outliers(train, 'floors')
test['floors'] = outliers(test, 'floors')

In [22]:
train['floors'].value_counts()

35.0     889
38.0     785
50.0     756
37.0     593
55.0     589
        ...
90.0     155
66.0     153
93.0     150
92.0     106
142.5      1
Name: floors, Length: 101, dtype: int64

In [23]:
train['cityCode'] = outliers(train, 'cityCode')
test['cityCode'] = outliers(test, 'cityCode')

In [24]:
train['cityCode'].value_counts()

1906.0     71
42634.0    37
42626.0    36
3545.0     34
426.0      32
           ..
72632.0     1
69989.0     1
21319.0     1
42570.0     1
55856.0     1
Name: cityCode, Length: 10170, dtype: int64

In [25]:
train['cityPartRange'].value_counts()

8     4290
5     3988
2     3252
9     3221
7     3221
4     3170
6     3099
3     2924
1     2883
10    2682
Name: cityPartRange, dtype: int64

In [26]:
train['cityPartRange'] = outliers(train, 'cityPartRange')
train['cityPartRange'].value_counts()

8.0     4290
5.0     3988
2.0     3252
9.0     3221
7.0     3221
4.0     3170
6.0     3099
3.0     2924
1.0     2883
10.0    2682
Name: cityPartRange, dtype: int64

In [27]:
test['cityPartRange'] = outliers(test, 'cityPartRange')
test['cityPartRange'].value_counts()

8.0     2120
5.0     1971
7.0     1557
4.0     1489
9.0     1462
6.0     1457
2.0     1437
3.0     1260
1.0     1235
10.0    1166
Name: cityPartRange, dtype: int64

In [28]:
train['numPrevOwners'].value_counts()

5     3904
8     3610
9     3494
4     3419
7     3411
6     3374
3     3056
2     2972
10    2748
1     2742
Name: numPrevOwners, dtype: int64

In [29]:
train[train['numPrevOwners'] == 15.5] = 15
train['numPrevOwners'].value_counts()

5     3904
8     3610
9     3494
4     3419
7     3411
6     3374
3     3056
2     2972
10    2748
1     2742
Name: numPrevOwners, dtype: int64

In [30]:
test['numPrevOwners'].value_counts()

5     1945
8     1720
9     1674
7     1621
4     1591
6     1583
2     1361
3     1286
1     1241
10    1132
Name: numPrevOwners, dtype: int64

In [31]:
test[test['numPrevOwners'] == 15.5] = 15
test['numPrevOwners'].value_counts()

5     1945
8     1720
9     1674
7     1621
4     1591
6     1583
2     1361
3     1286
1     1241
10    1132
Name: numPrevOwners, dtype: int64

In [32]:
train['made'].value_counts()

2000     3883
2003     1488
2014     1382
2015     1341
2007     1323
2009     1296
2013     1286
2008     1283
2019     1277
2018     1261
2004     1222
2006     1217
2016     1217
1996     1149
2005     1060
1998     1037
2017     1029
1993      971
1994      940
2020      931
1995      916
1997      888
1999      881
2010      443
1992      415
2021      414
1990      394
2001      391
2011      389
2012      356
1991      354
2002      291
10000       5
Name: made, dtype: int64

In [33]:
train[train['made'] == 15.0] = 2000
train[train['made'] == 10000.0] = 2000
train[train['made'] == 0.0] = 2000
train['made'].value_counts()

2000    3888
2003    1488
2014    1382
2015    1341
2007    1323
2009    1296
2013    1286
2008    1283
2019    1277
2018    1261
2004    1222
2006    1217
2016    1217
1996    1149
2005    1060
1998    1037
2017    1029
1993     971
1994     940
2020     931
1995     916
1997     888
1999     881
2010     443
1992     415
2021     414
1990     394
2001     391
2011     389
2012     356
1991     354
2002     291
Name: made, dtype: int64

In [34]:
test['made'].value_counts()

2000    2337
2003     765
2014     711
2007     699
2019     685
2008     682
2015     680
2009     634
2016     605
2004     602
2013     592
2006     565
1996     560
2005     558
2018     520
2017     480
1993     464
1998     460
1997     447
2020     445
1994     425
1995     402
1999     385
2010     128
2021      87
1990      62
2012      50
2001      40
2011      36
1992      30
1991      17
2002       1
Name: made, dtype: int64

In [35]:
test[test['made'] == 15.0] = 2000
test['made'].value_counts()

2000    2337
2003     765
2014     711
2007     699
2019     685
2008     682
2015     680
2009     634
2016     605
2004     602
2013     592
2006     565
1996     560
2005     558
2018     520
2017     480
1993     464
1998     460
1997     447
2020     445
1994     425
1995     402
1999     385
2010     128
2021      87
1990      62
2012      50
2001      40
2011      36
1992      30
1991      17
2002       1
Name: made, dtype: int64

In [36]:
train['HouseAge'] = 2023 - train['made']
train['HouseAge'].value_counts()

23    3888
20    1488
9     1382
8     1341
16    1323
14    1296
10    1286
15    1283
4     1277
5     1261
19    1222
17    1217
7     1217
27    1149
18    1060
25    1037
6     1029
30     971
29     940
3      931
28     916
26     888
24     881
13     443
31     415
2      414
33     394
22     391
12     389
11     356
32     354
21     291
Name: HouseAge, dtype: int64

In [37]:
test['HouseAge'] = 2023 - test['made']
test['HouseAge'].value_counts()

23    2337
20     765
9      711
16     699
4      685
15     682
8      680
14     634
7      605
19     602
10     592
17     565
27     560
18     558
5      520
6      480
30     464
25     460
26     447
3      445
29     425
28     402
24     385
13     128
2       87
33      62
11      50
22      40
12      36
31      30
32      17
21       1
Name: HouseAge, dtype: int64

In [38]:
train['isNewBuilt'].value_counts()

0       17099
1       15626
2000        5
Name: isNewBuilt, dtype: int64

In [39]:
train[train['isNewBuilt'] == 2000.0] = 0
train['isNewBuilt'].value_counts()

0    17104
1    15626
Name: isNewBuilt, dtype: int64

In [40]:
test['isNewBuilt'].value_counts()

0    7998
1    7156
Name: isNewBuilt, dtype: int64

In [41]:
test[test['isNewBuilt'] == 2000.0] = 0
test['isNewBuilt'].value_counts()

0    7998
1    7156
Name: isNewBuilt, dtype: int64

In [42]:
train['hasStormProtector'].value_counts()

0    17277
1    15453
Name: hasStormProtector, dtype: int64

In [43]:
test['hasStormProtector'].value_counts()

0    8131
1    7023
Name: hasStormProtector, dtype: int64

In [44]:
train['basement'] = outliers(train, 'basement')
train['basement'].value_counts()

874.0     100
4173.0     98
705.0      96
8181.0     95
783.0      85
         ...
289.0       1
7762.0      1
1099.0      1
3508.0      1
3480.0      1
Name: basement, Length: 6705, dtype: int64

In [45]:
test['basement'] = outliers(test, 'basement')
test['basement'].value_counts()

705.0     70
874.0     58
8174.0    56
7739.0    55
8181.0    54
          ..
2718.0     1
5520.0     1
5292.0     1
7135.0     1
9954.0     1
Name: basement, Length: 4214, dtype: int64

In [46]:
train['attic'] = outliers(train, 'attic')
test['attic'] = outliers(test, 'attic')

In [47]:
train['garage'] = outliers(train, 'garage')
test['garage'] = outliers(test, 'garage')

In [48]:
train['hasStorageRoom'].value_counts()

0    17207
1    15523
Name: hasStorageRoom, dtype: int64

In [49]:
train[train['hasStorageRoom'] == 1464.5] = 0
train['hasStorageRoom'].value_counts()

0    17207
1    15523
Name: hasStorageRoom, dtype: int64

In [50]:
test['hasStorageRoom'].value_counts()

0    8135
1    7019
Name: hasStorageRoom, dtype: int64

In [51]:
test[test['hasStorageRoom'] == 1451.5] = 0
test['hasStorageRoom'].value_counts()

0    8135
1    7019
Name: hasStorageRoom, dtype: int64

In [52]:
train['hasGuestRoom'].value_counts()

8     3883
4     3185
5     3061
7     3021
6     3020
2     2959
0     2888
9     2827
3     2803
10    2648
1     2435
Name: hasGuestRoom, dtype: int64

In [53]:
test['hasGuestRoom'].value_counts()

8     2034
5     1500
4     1491
7     1413
6     1390
2     1388
0     1345
9     1243
3     1240
1     1059
10    1051
Name: hasGuestRoom, dtype: int64

In [54]:
train['source'].value_counts()

1    22725
0    10005
Name: source, dtype: int64

In [55]:
train['ActualArea'] = outliers(train, 'ActualArea')
test['ActualArea'] = outliers(test, 'ActualArea')

In [56]:
train['AreaPerHouse'] = outliers(train, 'AreaPerHouse')
test['AreaPerHouse'] = outliers(test, 'AreaPerHouse')

In [57]:
train['AreaPerRoom'] = outliers(train, 'AreaPerRoom')
test['AreaPerRoom'] = outliers(test, 'AreaPerRoom')

In [58]:
train['Extra'] = outliers(train, 'Extra')
test['Extra'] = outliers(test, 'Extra')

In [59]:
train.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,...,garage,hasStorageRoom,hasGuestRoom,price,source,ActualArea,AreaPerHouse,AreaPerRoom,Extra,HouseAge
0,34291,24,1,0,47.0,35693.0,2.0,1,2000,0,...,369.0,0,3,3436795.2,1,28718.0,1428.791667,1196.583333,232.208333,23
1,95145,60,0,1,60.0,34773.0,1.0,4,2000,0,...,277.0,0,6,9519958.0,1,89643.0,1585.750000,1494.050000,91.700000,23
2,92661,45,1,1,62.0,45457.0,4.0,8,2020,1,...,245.0,1,9,9276448.1,1,75990.0,2059.133333,1688.666667,370.466667,3
3,97184,99,0,0,59.0,15113.0,1.0,1,2000,0,...,256.0,1,9,9725732.2,1,81982.0,981.656566,828.101010,153.555556,23
4,61752,100,0,0,57.0,64245.0,8.0,4,2018,1,...,863.0,0,7,6181908.8,1,50952.0,617.520000,509.520000,108.000000,5

In [60]:
test.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,...,attic,garage,hasStorageRoom,hasGuestRoom,source,ActualArea,AreaPerHouse,AreaPerRoom,Extra,HouseAge
0,47580.0,89,0,1,8,54830.0,5.0,3,1995,0,...,8181.0,241.0,0,8,1,32273,534.606742,362.617978,171.988764,28
1,62083.0,38,0,0,87,8576.0,10.0,3,1994,1,...,9237.0,393.0,1,4,1,47852,1633.763158,1259.263158,374.500000,29
2,90499.0,75,1,1,37,62454.0,9.0,6,1997,0,...,2680.0,305.0,0,2,1,80060,1206.653333,1067.466667,139.186667,26
3,16354.0,47,1,1,9,9262.0,6.0,5,2019,1,...,5097.0,122.0,1,5,1,10430,347.957447,221.914894,126.042553,4
4,67510.0,8,0,0,55,24112.0,3.0,7,2014,1,...,7979.0,401.0,1,9,1,55415,3909.541978,3315.455403,902.761619,9